body{
    background-color: grey;
}
form{
    background-color: black;
    color: white;
    border: 5px groove white;
    width: fit-content;
    padding: 1rem;
    margin: auto;
    margin-top: 15rem;
    border-radius: 5px;
}
input{
    margin-bottom: 0.5rem;
    border-radius: 5px; 
}
#submit {
    width: 100%;
    border-radius: 5px;
}
input::placeholder{
    color: rgb(77, 77, 77);
}